.flashNotificationDiv {
	text-align:left;
	padding: 8px 5px 8px 5px;
	background-color: #fff;
	font-size:20px;-moz-border-radius: 6px;-webkit-border-radius: 6px;
	color:brown;
	border:2px solid gray;
    position: relative;
}
.flashNotificationDiv ul {
    margin-bottom: 0; /* override Foundation setting */
}
.PermanentMessage {
	text-align:left;
	padding-top:8px;
	padding-bottom:8px;
	background-color: #fff;
	margin-bottom:5px;
	font-size:20px;-moz-border-radius: 6px;-webkit-border-radius: 6px;
	color:brown;
	border:2px solid gray;
    padding:10px;
    position: relative;
}
.close {
  font-size: 20px;
  font-weight: bold;
  line-height: 18px;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
  text-decoration: none;
  position: absolute;
  top: 5px;
  right: 5px;
}
.close:hover {
  color: #000000;
  text-decoration: none;
  opacity: 0.4;
  filter: alpha(opacity=40);
  cursor: pointer;
}

